body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    white-space: normal;
}
.post-preview {
    display: none;
}

.post-preview.expanded {
    display: block;
}
.title-container {
    max-width: 70%; 
    overflow-wrap: break-word; 
    white-space: normal; 
}
.body-text {
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: auto;
    white-space: pre-wrap;
}
.hash {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #d3d3d3;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}
.flair {
    display: inline-block;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}
.post-title {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.inverse-colors {
    filter: invert(100%);
}
.inverse-colors:hover {
    filter: invert(85%);
}
.theme-switcher {
    width: 25px;
    height: 25px;
}

/* Amethyst Theme */
.amethyst body {
    background-color: #2a1b3e;
    color: #e0d6f2;
}

.amethyst .bg-gray-900 {
    background-color: #2a1b3e; 
}

.amethyst .text-white {
    color: #e0d6f2; 
}

.amethyst .text-gray-400 {
    color: #b0a1c1; 
}

.amethyst .text-blue-500 {
  color: #4a1c6b; 
}

.amethyst .border-gray-700 {
    border-color: #5b4a8b; 
}

.amethyst .border-gray-500 {
    border-color: #7a6b9b; 
}

.amethyst .bg-black {
    background-color: #3e2a6b; 
}

.amethyst .bg-opacity-50 {
    background-color: rgba(224, 242, 254, 0.5); 
}

.amethyst .bg-gray-700 {
    background-color: #3e2a6b; 
}

.amethyst .bg-gray-600 {
    background-color: #5b4a8b; 
}

.amethyst .bg-gray-800 {
    background-color: #7a6b9b; 
}

.amethyst .bg-red-600 {
    background-color: #ffcccb; 
}


/* Default Dark Theme */
body {
    background-color: #1e1e1e;
    color: #ffffff;
}

/* Light Theme */
.light-theme body {
    background-color: #ffffff;
    color: #000000;
}

.light-theme .bg-gray-900 {
    background-color: #f3f4f6; /* light gray */
}

.light-theme .text-white {
    color: #000000; /* black */
}

.light-theme .border-gray-700 {
    border-color: #d1d5db; /* light gray border */
}

.light-theme .text-gray-400 {
    color: #4b5563; /* dark gray */
}