body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    white-space: normal;
}
.post-preview {
    display: none;
}

.post-preview.expanded {
    display: block;
}
.title-container {
    max-width: 70%; 
    overflow-wrap: break-word; 
    white-space: normal; 
}
.body-text {
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: auto;
    white-space: pre-wrap;
}
.hash {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #d3d3d3;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}
.flair {
    display: inline-block;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.comment {
    margin-left: 15px;
    padding-left: 10px;
    border-left: 2px solid #4b4b4b;
}
.search-input {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.search-results-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #555;
    margin-top: 10px;
}
.search-result {
    padding: 10px;
    border-bottom: 1px solid #555;
    cursor: pointer;
}
.search-result:hover {
    background-color: #444;
}
.selected {
    background-color: #444;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
/* Theme styles */
.light {
    background-color: #f0f0f0;
    color: #000000;
}

.light .bg-gray-700 {
    background-color: #e2e8f0;
}

.light .bg-gray-600 {
    background-color: #f9fafb;
}

.light .bg-gray-800 {
    background-color: #d1d5db;
}

.light .bg-red-600 {
    background-color: #fca5a5;
}

.light .bg-gray-900 {
    background-color: #111827;
}

.light .text-white {
    color: #000000;
}

.light .text-gray-400 {
    color: #4b5563;
}

.light .text-blue-500 {
    color: #2563eb;
}

.light .border-gray-700 {
    border-color: #d1d5db;
}

.light .border-gray-500 {
    border-color: #6b7280;
}

.light .bg-black {
    background-color: #ffffff;
}

.light .bg-opacity-50 {
    background-color: rgba(255, 255, 255, 0.5);
}

.amethyst {
    background-color: #1e1e1e;
    color: #ffffff;
}

.amethyst .bg-gray-700 {
    background-color: #3e2a6b; 
}

.amethyst .bg-gray-600 {
    background-color: #5b4a8b; 
}

.amethyst .bg-gray-800 {
    background-color: #7a6b9b; 
}

.amethyst .bg-red-600 {
    background-color: #ffcccb; 
}

.amethyst .bg-gray-900 {
    background-color: #2a1b3e; 
}

.amethyst .text-white {
    color: #e0d6f2; 
}

.amethyst .text-gray-400 {
    color: #b0a1c1; 
}

.amethyst .text-blue-500 {
    color: #4a1c6b; 
}

.amethyst .border-gray-700 {
    border-color: #5b4a8b; 
}

.amethyst .border-gray-500 {
    border-color: #7a6b9b; 
}

.amethyst .bg-black {
    background-color: #3e2a6b; 
}

.amethyst .bg-opacity-50 {
    background-color: rgba(224, 242, 254, 0.5); 
}